@{
    Layout = null;
}

@model List<HRMS.Models.ShorList>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <partial name="_Navbar" />
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link">
                <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">HRMS</span>
            </a>

            <!-- Sidebar -->
            <partial name="_Sidebar" />
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>ShortListed Candidates</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">ShortListed Candidates Schedule Interviews</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Address</th>
                                                <th>Experince</th>
                                                <th>Resume</th>
                                                <th>Schedule Interview</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var candidate in Model)
                                            {
                                                <tr>
                                                    <td>@candidate.Firstname</td>
                                                    <td>@candidate.Lastname</td>
                                                    <td>@candidate.Email</td>
                                                    <td>@candidate.Phone</td>
                                                    <td>@candidate.Address</td>
                                                    <td>@candidate.Experince</td>
                                                    <td>
                                                        <a style="margin-left:35px;font-size:25px;" target="_blank" href="@candidate.Resumeurl" class="bi bi-file-earmark-arrow-down-fill"></a>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="bi bi-cup-hot-fill edit-candidate"
                                                                data-candidate-id="@candidate.id"
                                                                data-toggle="modal"
                                                                data-target="#modal-lg">
                                                        </button>
                                                    </td>
                                                </tr>
                                            }




                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Address</th>
                                                <th>Experince</th>
                                                <th>Resume</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>

            <div class="modal fade" id="modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Schedule Interview</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="interview-form" method="POST">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Candidate Name</label>
                                        <input type="text" class="form-control" id="candidate-name" name="CandidateName" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Candidate Email</label>
                                        <input type="email" class="form-control" id="candidate-email" name="CandidateEmail" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Place</label>
                                        <input type="text" class="form-control" placeholder="Enter Place" name="Place" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input type="datetime-local" class="form-control" name="Date" required>
                                    </div>
                                    <input type="hidden" name="CandidateId" id="candidate-id">
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>






            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <partial name="_Footer" />

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

    </script>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.shortlist-button').click(function (e) {
                e.preventDefault();
                var candidateId = $(this).data('id');

                $.ajax({
                    url: '@Url.Action("ShortList", "Home")',
                    type: 'POST',
                    data: { id: candidateId },
                    success: function (response) {
                        // Handle the successful response here
                        window.location.href = '@Url.Action("ManageCandidates", "Home")';
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response here
                        console.error("An error occurred: " + error);
                    }
                });
            });
        });
    </script>














    <script>
        $(document).ready(function () {
            $(".edit-candidate").click(function () {
                var candidateId = $(this).data("candidate-id");

                // AJAX request to get candidate details
                $.ajax({
                    url: "/Home/GetCandidateDetails", // Update the URL to your controller action
                    type: "GET",
                    data: { id: candidateId },
                    success: function (data) {
                        // Populate modal form fields with retrieved data
                        $("#candidate-id").val(data.id);
                        $("#candidate-name").val(data.name);
                        $("#candidate-email").val(data.email);
                    },
                    error: function (xhr, status, error) {
                        console.error("An error occurred: " + error);
                    }
                });
            });

            $('#interview-form').on('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                var formData = $(this).serializeArray(); // Serialize the form data into an array
                formData.push({ name: "CandidateId", value: $('#candidate-id').val() });
                formData.push({ name: "CandidateName", value: $('#candidate-name').val() });
                formData.push({ name: "CandidateEmail", value: $('#candidate-email').val() });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddInterview", "Home")', // Update with the correct action and controller name
                    data: $.param(formData),
                    success: function (response) {
                        if (response.redirectUrl) {
                            window.location.href = response.redirectUrl; // Redirect to the specified URL
                        } else {
                            console.log(response);
                            $('#modal-lg').modal('hide');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("An error occurred: " + error);
                    }
                });
            });
        });
    </script>



















    @if (TempData["Success"] != null)
    {
        <script>
            alert('@TempData["Success"]');
        </script>
    }



    @if (TempData["Error"] != null)
    {
        <script>
            alert('@TempData["Error"]');
        </script>
    }


</body>
</html>
